.postlist {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .article {
        border-bottom: 1px solid var(--c-light-grey);
        box-sizing: border-box;
        gap: 1rem;
        padding: 1rem;

        &:last-of-type {
            border-bottom: 0px;
        }

        &:hover {
            background: var(--c-light-grey-alt);
            transition: backgroundColor 0.2s ease;
        }

        .arrow {
            font-size: small;
            margin-left: 0.5rem;
            opacity: 0.5;
            transition: opacity 0.5s ease;
        }

        & a {
            color: var(--c-title);
            font-weight: 500;
            text-decoration: none;
        }
        & h1 {
            margin: 0;
            font-size: large;
        }

        & p {
            color: var(--c-text-main);
            font-size: small;
        }

        & footer {
            display: flex;
            font-size: smaller;

            & a {
                flex: 1;
            }
        }
    }
}
